# Ignore __pycache__ folders
__pycache__/

# Ignore the 'data' folder
data/

# Ignore generated/downloaded datasets
disc_complex/
disc_simple/
sphere_simple/
sphere_complex/
utils/sphere_complex
logs/
mesh_exports/
wandb/
*.egg-info/
.pytest_cache/
*.obj
*.pth
*.out
dl4to/
checkpoints_vae/
checkpoints_mod/
*.npz
*.png
