# Ignore __pycache__ folders
__pycache__/

# Ignore the 'data' folder
data/

# Ignore the 'sphere_complex' folder
sphere_complex/
utils/sphere_complex
*.obj
*.pth
*.out
dl4to/
checkpoints_vae/
checkpoints_mod/
*.sh 
*.npz
*.png